<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IP Address Calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>IP Address Calculator</h1>
        <br/>
        <h2>IPv4 Stuff</h2>
        <ol>
            <li><a href="{{ url_for('ipAddressCalculator') }}">IP address conversion</a></li>
            <li><a href="{{ url_for('subnetMaskCalculator') }}">Subnet mask conversion</a></li>
            <li><a href="{{ url_for('subnetMaskFromUsableHosts') }}">Get subnet mask from number of usable/total hosts</a></li>
            <li><a href="{{ url_for('networkInfo') }}">Get single network information</a></li>
            <li><a href="{{ url_for('designANetworkCLSM') }}">Design a network! (Constant subnet mask)</a></li>
            <li><a href="{{ url_for('designANetworkVLSM') }}">Design a network! (VLSM)</a></li>
        </ol>
        <br/>
        <h2>IPv6 Stuff</h2>
        <ol>
            <li><a href="{{ url_for('IPv6Calculator') }}">IP address conversion</a></li>
        </ol>
        <footer>
            <br/><br/><br/><br/>
            <hr/>
            <p>{{ commit_hash }}</p>
            <ul>
                <a href="https://github.com/Chris1320/IPCalculatorWeb">View on GitHub</a><br/>
            </ul>
        </footer>
    </body>
</html>
