<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IP Address Calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>
    <body>
        <h1>IP Address Calculator</h1>
        <h2>Get network information</h2>
        <form action="{{ url_for('networkInfo') }}" method="POST">
            <label for="ipAddress">IP address</label>
            <input type="text" name="ipAddress" id="ipAddress" placeholder="" required><br/>
            <label for="subnetMask">Subnet mask</label>
            <input type="text" name="subnetMask" id="subnetMask" placeholder="" required><br/>
            <input type="submit" value="Convert">
        </form>
        <footer>
            <hr/>
            <p><sub><sup>Made in two hours, i can't design this crap.</sup></sub></p>
            <ul>
                <a href="{{ url_for('indexPage') }}">Back to home</a><br/>
                <a href="https://github.com/Chris1320/IPCalculatorWeb">View on GitHub</a><br/>
            </ul>
        </footer>
    </body>
</html>
