<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IP Address Calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>
    <body>
        <h1>IP Address Calculator</h1>
        <h2>Subnet mask conversion</h2>
        <form action="{{ url_for('subnetMaskCalculator') }}" method="POST">
            <label for="mask">Subnet Mask (prefix <code>/</code> for CIDR):</label>
            <input type="text" id="mask" name="mask" placeholder="" required/>
            <input type="submit" value="Convert">
        </form>
        <footer>
            <hr/>
            <ul>
                <a href="{{ url_for('indexPage') }}">Back to home</a><br/>
                <a href="https://github.com/Chris1320/IPCalculatorWeb">View on GitHub</a><br/>
            </ul>
        </footer>
    </body>
</html>
